p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


.figure {
  border-top: 0px solid #eee;
  border-bottom: 0px solid #eee;
  margin:  1.5rem -0.5rem 1rem -0.5rem;
  padding: 1.5rem    0    1rem      1rem;
}
.inline-figure {
  border: solid 0px #f1f1f1;
  margin-bottom: 1rem; /* to match <p> */
}

